*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: times new roman;
}
body{
  background-color: rgb(25,25,100);
  font-family: times new roman;
}
.body{
  margin: 60px;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
}
.logo{
  width: 50px;
  margin: 20px 0;
  margin-left: 20px;
  border-radius: 50%;
}
.port{
  padding-left: 20px;
  color: cyan;
  font-size: 30px;
}
nav{
  flex: 1;
  text-align: right;
}
li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
li a{
  text-decoration: none;
  color: white;
}
li a:hover{
  color: cyan;
}
@import 'utilities.css';
:root{
--primary: rgb(29, 221, 189);
--bgdark: rgb(12, 12, 12);
--white: rgb(250, 250, 250);
--secondary: rgb(0, 59, 50);
--bglight: rgb(190, 181, 181);
}
.services{
  background-color: rgb(25,25,100);
}
.services-head{
color: rgb(10, 9, 9);
text-align: center;
margin-bottom: 1rem;
line-height: 0.5rem;
color: var(--primary);
}
.services-head + p{
color: var(--white);
font-family: times new roman;
margin-bottom: 1rem;
text-align: center;
margin-bottom: 6rem;
font-weight: 400;
}
.card-grid img{
width: 50px;
background:white;
border-radius: 25px;
position: absolute;
top: -1.5rem;
left: 50%;
transform: translatex(-50%);
}
.card-grid{
display: grid;
grid-template-columns: repeat(3,1fr);
column-gap: 2rem;
}
.card1{
background: var(--white);
padding: 3rem 2rem;
position: relative;
text-align: center;
transition: all .2s ease;
}
.card2{
background: var(--white);
padding: 3rem 2rem;
position: relative;
text-align: center;
transition: all .2s ease;
}
.card3{
background: var(--white);
padding: 3rem 2rem;
position: relative;
text-align: center;
transition: all .2s ease;
}
.card-grid h2{
color: navy;
font-weight: 600;
font-size: 1.2rem;
margin-bottom: 0.5rem;
}
.card-grid p{
font-family: times new roman;
color: black;
line-height: 1.6;
height: 10em;
}
.card1:hover{
background-image: linear-gradient(
    to bottom left,
    #4f5bd5,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75
  );
}
.card2:hover{
background-color: red;
}
.card3:hover{
background-color: blue;
}
.card1:hover h2{
color: var(--white);
}
.card2:hover h2{
color: var(--white);
}
.card3:hover h2{
color: var(--white);
}
.card1:hover p{
color: var(--white);
}
.card2:hover p{
color: var(--white);
}
.card3:hover p{
color: var(--white);
}
.container h1{
  color: white;
  background-color: rgb(25,25,100)
}
.footer{
  text-align: center;
  font-weight: bold;
  padding-top: 2em;
  height: 6.95em;
  color: white;
  background-color: rgb(12,14,35);
}
.menu{
  width: 25px;
  cursor: pointer;
  display: none;
  margin-left: 400px;
}
@media only screen and (max-width: 1000px){
  nav ul{
    width: 100%;
    background: linear-gradient(black,gray);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .menu{
    display: block;
    margin-left: 700px;
    width: 40px;
  }
  #menulist{
    overflow: hidden;
    transition: 0.5s;
  }
  .card-grid{
    width: 500px;
    display: block; 
    margin-left: 250px;
    padding-bottom: 50px;
  }
  .card1{

  }