*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: times new roman;
}
.fa-solid{
  color: cyan;
  padding: 5px;
}
body{
  background-color: rgb(25,25,100);
  font-family: times new roman;
}
.body{
  margin: 60px;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
}
.logo{
  width: 50px;
  margin: 20px 0;
  margin-left: 20px;
  border-radius: 50%;
}
.port{
  padding-left: 20px;
  color: cyan;
  font-size: 30px;
}
nav{
  flex: 1;
  text-align: right;
}
li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
li a{
  text-decoration: none;
  color: white;
}
li a:hover{
  color: cyan;
}

.services-head{
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5rem;
  color:cyan;
}
.services-head + p{
  color: white;
  font-family: times new roman;
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 6rem;
  font-weight: 400;
}
.card-grid img{
  width: 50px;
  background:white;
  border-radius: 25px;
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translatex(-50%);
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 2rem;
}
.card1{
  background-color: white;
  padding: 3rem 2rem;
  position: relative;
  text-align: center;
  transition: all .2s ease;
}
.card2{
  background-color: white;
  padding: 3rem 2rem;
  position: relative;
  text-align: center;
  transition: all .2s ease;
}
.card3{
  background-color: white;
  padding: 3rem 2rem;
  position: relative;
  text-align: center;
  transition: all .2s ease;
}
.card-grid h2{
  color: navy;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.card-grid p{
  font-family: times new roman;
  color: black;
  line-height: 1.6;
  height: 10em;
  text-decoration: none;
}
.card-grid a{
  text-decoration: none;
}
.card1:hover{
  background-image: linear-gradient(
    to bottom left,
    #4f5bd5,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75
  );
}
.card2:hover{
  background-color: red;
}
.card3:hover{
  background-color: blue;
}
.card1:hover h2{
  color: white;
}
.card2:hover h2{
  color: white;
}
.card3:hover h2{
  color: white;
}
.card1:hover p{
  color: white;
}
.card2:hover p{
  color: white;
}
.card3:hover p{
  color: white;
}
.card-grid h1{
  color: white;
  border-radius: 25px;
  background-color: rgb(25,25,100)
}
.footer{
  text-align: center;
  font-weight: bold;
  padding-top: 2em;
  height: 6.95em;
  color: white;
  background-color: rgb(12,14,35);
}
.menu{
  width: 25px;
  cursor: pointer;
  display: none;
  margin-left: 400px;
}
@media only screen and (max-width: 1000px){
  nav ul{
    width: 100%;
    background-color: black;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #menuList{
    overflow: hidden;
    transition: 0.5s;
    width: 300px;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
  }
  #menuList:hover{
    color: cyan;
  }
  .menu{
    display: block;
    margin-left: 400px;
    width: 80px;
  }
  .navbar{
    height: 200px;
  }
  .logo{
    width: 120px;
  }
  .port{
    font-size: 70px;
  }
  .card-grid{
    width: 500px;
    display: block; 
    margin-left: 250px;
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }
  .card-grid a{
    text-decoration: none;
  }
  .card1{
    border-radius: 20px;
    text-decoration: none;
  }
  .card2{
    border-radius: 20px;
  }
  .card3{
    border-radius: 20px;
  }
  .br{
    padding: 20px;
  }
  .services-head{
    font-size: 60px;
    padding: 20px;
  }
  .para{
    font-size: 40px;
  }
  .footer{
    font-size: 40px;
  }
  .fa-solid{
    padding: 15px;
  }
}
